/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --bg-image: url(/images/cover-image-dark.png);
    --bg-color: #000028;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --section-title-text-color: #000028;
}

.theme-dark .rec {
    font-family: var(--font-family), sans-serif;
    color: var(--accent-color);
    position: absolute;
    right: 28px;
    display: block;
}

.theme-dark .rec::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #ff0070;
    box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
    position: absolute;
    top: 8px;
}

.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
}

.theme-dark .decorated-zone::before {
    top: 0;
    right: 0;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}
@media (prefers-color-scheme: dark) {
    :root {
        /* сохраните этот селектор в приведённом виде.
          Так стили написанные ниже будут иметь больший вес,
          чем стили в медиазапросе предпочтений пользователя
        */
        --bg-image: url(/images/cover-image-dark.png);
        --bg-color: #000028;
        --title-color: #DB00FF;
        --accent-color: #FF0070;
        --section-title-text-color: #000028;
    }

  .rec {
        font-family: var(--font-family), sans-serif;
        color: var(--accent-color);
        position: absolute;
        right: 28px;
        display: block;
    }

   .rec::after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: #ff0070;
        box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
        position: absolute;
        top: 8px;
    }

    .decorated-zone::before,
   .decorated-zone::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
    }

    .decorated-zone::before {
        top: 0;
        right: 0;
        border-top: 1px solid var(--accent-color);
        border-right: 1px solid var(--accent-color);
    }

  .decorated-zone::after {
        bottom: 0;
        left: 0;
        border-bottom: 1px solid var(--accent-color);
        border-left: 1px solid var(--accent-color);
    }
}
