/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --section-title-color: #353430;
    --theme-button-color: #353430;
    --hover-border-color: rgba(50, 49, 45, 0.4);
}

.theme-light .rec {
    display: none;
}


@media (prefers-color-scheme: light) {
    :root {
        --bg-image: url(../images/cover-image-light.png);
        --bg-color: #FFF1F7;
        --title-color: #FFC2E6;
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --section-title-color: #353430;
        --theme-button-color: #353430;
        --hover-border-color: rgba(50, 49, 45, 0.4);
    }

    .rec {
        display: none;
    }
    .section__title {
        color: var(--section-title-color);
    }

}